Django==3.1
django-widget-tweaks==1.4.8
Faker==4.1.2
Pillow==7.2.0
psycopg2-binary==2.8.5
pytest==6.0.1
pytest-django==3.9.0
reportlab==3.5.47
xhtml2pdf==0.2.4
python-decouple==3.3
dj-database-url==0.5.0