{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{% static 'inv/main.css' %}">
    <link rel="stylesheet" href="{% static 'inv/sidebar-themes.css' %}">
    <link rel="stylesheet" href="{% static 'inv/content.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'inv/sidebar.js'%}"></script>
    <title>{% block title %} Registration | Step-2 {% endblock %}</title>
</head>
<body>
    <div class="page-wrapper default-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="" alt="">
              </div>
              <div class="user-info">
                <span class="user-name">
                  <strong>{{ user.first_name }} {{user.last_name}}</strong>
                </span>
                <span class="user-role text-muted">{{company.position}}</span><hr>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Status</span>
                </span>
              </div>
            </div>
           
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                  <a>
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Faktury</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a>Pro-Forma</a>
                      </li>
                      <li>
                        <a>Faktura VAT</a>
                      </li>
                      <li>
                        <a>Faktura Korygujaca</a>
                      </li>
                      <li>
                        <a>Zobacz liste faktur</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a>
                    <i class="fa fa-shopping-cart"></i>
                    <span>Produkty</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a>Lista Produktów</a>
                      </li>
                      <li>
                        <a>Dodaj Produkt</a>
                      </li>
                      <li>
                        <a>NONE NA RAZIE</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a>
                    <i class="far fa-gem"></i>
                    <span>Klienci</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a>Lista Klientów</a>
                      </li>
                      <li>
                        <a>Dodaj Klienta</a>
                      </li>
                      <li>
                        <a>Statystyki</a>
                      </li>
                      <li>
                        <a>Partnerstwo strategiczne</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a>
                    <i class="fa fa-chart-line"></i>
                    <span>Usługi</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a>Lista Usług</a>
                      </li>
                      <li>
                        <a>Dodaj usługę</a>
                      </li>
                      <li>
                        <a>Modyfikuj usługę</a>
                      </li>
                      <li>
                        <a>Usuń usugę</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a>
                    <i class="fa fa-globe"></i>
                    <span>Ustawienia</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a>Ustawienie profilu</a>
                      </li>
                      <li>
                        <a>Ustawienia firmowe</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header-menu">
                  <span>Extra</span>
                </li>
                <li>
                  <a>
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                    <span class="badge badge-pill badge-primary">Beta</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="fa fa-folder"></i>
                    <span>Ustawienia</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="form-group col-md-12">
            <a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
                <span>Pin</span>
            </a>
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div class="content-wrapper">
            <nav class="navbar navbar-dark bg-dark" id="top-navbar">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                  </div>
                      <div class="navbar-dark" id="myNavbar">
                        <ul class="nav navbar-nav">
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="top-right">
                            <li id="search-form">
                                <form class="form-inline" method='GET'>
                                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </li>
                            <li id="logout">
                                <a class="btn btn-success" href="{% url 'logout' %}" role="button" ><svg  href="{% url 'logout' %}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
                                </a>
                            </li>
                        </ul>
                      </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
  
            <div class="container-fluid" id="site-content"> 
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Dziękujemy za rejestarację!</h4>
                    <p>Aby móc korzystać z możliwości oferowanych przez nasz serwis, wymagane jest dodanie danych firmy.                     <hr>
                    <p class="mb-0">Potrzebujemy tylko podstawowę informację.</p>
                  </div>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {% render_field form.name class="form-control" placeholder="Nazwa firmy" %}
                        {{form.errors}}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="{{ form.nip.id_for_label }}">{{ form.nip.label}}</label>
                        {% render_field form.nip class="form-control" placeholder="NIP"%}
                        {{ form.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="{{form.address.id_for_label}}">{{form.address.label}}</label>
                        {% render_field form.address class="form-control" placeholder="ul.Postępu 25"%}
                        {{ form.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="{{form.city.id_for_label}}">{{ form.city.label}}</label>
                        {% render_field form.city class="form-control" placeholder="Warszawa"%}
                        {{ form.errors }}
                    </div>
                    <div class="form-group col-md-1">
                        <label for="{{ form.zip_code.id_for_label}}">{{ form.zip_code.label }}</label>
                        {% render_field form.zip_code class="form-control" placeholder="02-758"%}
                        {{ form.errors }}
                    </div>
                    <div class="form-group col-md-3">
                            <label for="{{ form.country.id_for_label}}">{{ form.country.label }}</label>
                            {% render_field form.country class="form-control" placeholder="Polska"%}
                            {{ form.errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="{{form.bank_account.id_for_label}}">{{form.bank_account.label}}</label>
                        {% render_field form.bank_account class="form-control" placeholder="PL184825875112558"%}
                        {{ form.errors }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="{{form.position.id_for_label}}">{{form.position.label}}</label>
                        {% render_field form.position class="form-control" placeholder="Księgowa"%}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="{{ form.logo.id_for_label}}">{{ form.logo.label }}</label>
                        {% render_field form.logo class="form-control-file"%}  
                    </div> 
                </div>
                <div class="form-row">          
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Dodaj
                      </button>
                    </div>
                </div> 
              </form>
            </div>
            <footer class="text-center">
              <div class="mb-0">
                <small>
                  © 2020 
                </small>
              </div>
      
              <div>
                <a href="" target="_blank">
                  <img alt="" src="" />
                </a>
                <a href="" target="_blank">
                  <img alt="" src="" />
                </a>
              </div>
            </footer>
        </div>
        <!-- page-content" -->
      </main>
      <!-- page-wrapper --> 
    </div>     
  </body>
</html>