{% extends 'inv/index.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
<h2>Edytuj dane firmy</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}

    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {% render_field form.name class="form-control" placeholder="Nazwa firmy" %}
        </div>
        <div class="form-group col-md-3">
            <label for="{{ form.nip.id_for_label }}">{{ form.nip.label}}</label>
            {% render_field form.nip class="form-control" placeholder="NIP"%}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="{{form.address.id_for_label}}">{{form.address.label}}</label>
            {% render_field form.address class="form-control" placeholder="ul.Postępu 25"%}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="{{form.city.id_for_label}}">{{ form.city.label}}</label>
            {% render_field form.city class="form-control" placeholder="Warszawa"%}
        </div>
        <div class="form-group col-md-1">
            <label for="{{ form.zip_code.id_for_label}}">{{ form.zip_code.label }}</label>
            {% render_field form.zip_code class="form-control" placeholder="02-758"%}
        </div>
        <div class="form-group col-md-3">
                <label for="{{ form.country.id_for_label}}">{{ form.country.label }}</label>
                {% render_field form.country class="form-control" placeholder="Polska"%}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="{{form.bank_account.id_for_label}}">{{form.bank_account.label}}</label>
            {% render_field form.bank_account class="form-control" placeholder="PL184825875112558"%}
        </div>
        <div class="form-group col-md-4">
            <label for="{{form.position.id_for_label}}">{{form.position.label}}</label>
            {% render_field form.position class="form-control" placeholder="Księgowa"%}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="{{ form.logo.id_for_label}}">{{ form.logo.label }}</label>
            {% render_field form.logo class="form-control-file"%}  
        </div> 
    </div>
    <div class="form-row">          
        <div class="form-group">
          <button type="submit" class="btn btn-success">Zapisz</button> 
        </div>
    </div> 
{% endblock%}